
  /* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
.body{font-family: "Jost",sans-serif;}
.slider-container {width: 100%;height: 400px;  overflow: hidden;}
.slider {display: flex;width: 100%;height: 50%;transition: transform 0.5s ease; }
.slide { flex: 0 0 100%; height: 100%; overflow: hidden; }
.slide img { width: 100%;  height: 100%;  object-fit: cover;} 
.logo{ display: flex; justify-content: space-between;}
.site-logo{height: 50px;width: 80px;}
header {  /* background-color: #000; */  padding: 10px; display: flex;}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  transition: transform 0.3s;
}

nav ul li:hover {
  transform: translateY(-5px);
}
nav ul li a {
  font-family: "Jost",sans-serif;
  color: #000;
  text-decoration: none;
}
